*{
    margin: 0;
    font-family: sans-serif;
}
.tab{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    margin-bottom: 10px;
}
.conta{
    margin: 0 10px;
    text-decoration: none;
}
.logo{
    border-radius: 100px;
    width: 2rem;
    height: 2rem;
    padding: 15px;
    margin: 0 9px 0 0;
}
.delivery {
    background: #EEEEEe;
}
.delivery_active{
    background: #ffeecc;
}
.plate{
    background: #EEEEEe;
}
.plate_active {
    background: #ffeecc;
}   
.nightlife {
    background: #EEEEEe;
}
.nightlife_active {
    background: #ffeecc;
}
.nutrition {
    background: #EEEEEe;
}
.nutrition_active {
    background: #ffeecc;
}
.delivery .img{
    height: 30px;
    
    content: url(../../../assets/tabs/delivery.webp);
}
.delivery_active .img{
    height: 30px;
    content: url(../../../assets/tabs/delivery_active.webp);
}
.plate .img{
    height: 30px;
    content: url(../../../assets/tabs/plate.webp);
}
.plate_active .img{
    height: 30px;
    content: url(../../../assets/tabs/plate_active.webp);
}
.nightlife .img{
    height: 30px;
    content: url(../../../assets/tabs/Nightlife.webp);
}
.nightlife_active .img{
    height: 30px;
    content: url(../../../assets/tabs/Nightlife_active.webp);
}
.nutrition .img{
    height: 30px;
    content: url(../../../assets/tabs/Nutrition.webp);
}
.nutrition_active .img{
    height: 30px;
    content: url(../../../assets/tabs/Nutrition_active.webp);
}

.head{
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #787878;
    display: flex;
}
.red{
    color: red;
}
.conta:hover{
    cursor: pointer;
    text-decoration: none;
    
}

.hr_red hr{
    border: 1px solid red;
    background-color: red;
}
.hr_gray hr{
    border: transparent;
    
}
