body{
    margin: 0;
}

.btn{
    padding: 5px;
    border: 1px solid #afaeae;
    background: #FFFFFF;
    color: #acaaaa;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.filters{
    content: url(../../assets/delivery/img.svg);
}