*{
    font-family: sans-serif;
    font-weight: 200;
}
.del{
    padding: 15px;
    display: flex;
    align-items: center;
}

.Cards{
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-rows: 3;
}
.heading{
    font-weight: 500;
}
@media screen and (min-width:915px) {
    .del{
        justify-content: center;
    }
}