.del{
    padding: 15px;
    display: flex;
    align-items: center;
}

.Cards{
    padding: 20px;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:915px) {
    .del{
        justify-content: center;
    }
}