*{
    font-family: sans-serif;
    font-weight: 200;
}
.paneer{
    content: url(../../assets/cards/paneer.jpg);
}
.chicken{
    content: url(../../assets/cards/chicken.webp);
}
.Biryani{
    content: url(../../assets/cards/biryani.webp);
}
.Pizza{
    content: url(../../assets/cards/Pizza.webp);
}
.del{
    padding: 15px;
    display: flex;
    align-items: center;
}
.insp{
    background-color: #F8F8F8;
}
.insp h1{
    margin: 20px;
}
.Insp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 50px;
}
.inspD{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.inspI{
    width: 200px;
    border-radius: 20px;
    margin-right: 20px;
}
.heading1{
    
    justify-content: center;
}
.heading1 h1{
    justify-content: center;
}

.Cards{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.heading{
    font-weight: 500;
}
@media screen and (min-width:915px) {
    .del{
        justify-content: center;
    }
    
    
}
@media screen and (max-width:915px) {
    .Cards{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
}