*{
    margin: 0;
    font-family: sans-serif;
}
.tab{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;

}
.logo{
    background: #ffeecc;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0 9px 0 0;
}
.img{
    height: 30px;
}
.head{
    font-size: 18px;
    letter-spacing: 0.5px;
}
.conta{
    margin: 6px 10px;
}
.conta:hover{
    cursor: pointer;
    
}
hr{
    background-color: red;
    border-color: transparent;
}