*{
    margin: 0;
    font-family: sans-serif;
}
.tab{

    display: flex;
    align-items: center;
    padding: 5px 8px;
    border-bottom: 2px solid red;
}
.logo{
    height: 100%;
    background: burlywood;
    border-radius: 50%;
    padding: 10px;
}
.img{
    height: 30px;
}