.night{
    padding: 15px;
    display: flex;
    background-color: transparent;
    justify-content: center;
}
.Cards{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
@media screen and (min-width:915px) {
    .nightlife{
        justify-content: center;
    }
}