.DiningOut{
    padding: 15px;
    display: flex;
    align-items: center;
}
.Cards{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.Collections{
    
}

@media screen and (min-width:915px) {
    .DiningOut{
        justify-content: center;
    }
}