.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar{
    display: flex;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 7px;

}
.img-container{
    padding: 20px;
}
.dropdown{
    border: none;
    border-right: 2px solid black;
    margin-right: 10px;
}
ul{
    display: flex;
    list-style: none;
}
ul a{
    text-decoration: none;
    padding: 20px 20px 20px 0;
}
