body{
    margin: 0;
}

.btn{
    padding: 8px;
    
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin: 0 0 0 16px;
    letter-spacing: 0.5px;
}
.btn:hover{
    background-color: rgb(240, 240, 240);
    transition: all 0.3s ease;
}
.filters{
    margin-right: 5px;
    content: url(../../assets/delivery/img.svg);
}

.deliverytime{
    margin-right: 5px;
    content: url(../../assets/delivery/img2.svg);
}