.Card{
    width: 350px;
    height: 350px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    align-items: center;
}
.im{

    content: url(../../assets/cards/Dominos_Pizza.webp);
    width: 100%;
    height: 100%;
    object-fit: cover;
}