.Card{
    width: 350px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    border: 0.1px solid transparent;
}

.Card:hover{
    padding: 10px;
    border-color: rgba(0,0,0,0.1);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}
.im{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit:contain;
}
.dominos{
    content: url(../../assets/cards/Dominos_Pizza.webp);
}
.Jashn{
    content: url(../../assets/cards/Jashn_the_Restaurant.webp);
}
.punjabi{
    content: url(../../assets/cards/Punjabi_Kitchen.webp);
}

.star{
    padding: 2px;
    content: url(../../assets/cards/img3.svg);
}
.dunki{
    content:url(../../assets/cards/Dhunki.webp);
}
.kaveri{
    content: url(../../assets/cards/Kaveri.webp);
}
.prana{
    content: url(../../assets/cards/Parana.webp);
}
.urban{
    content: url(../../assets/cards/TUB.webp);
}
.winN{
    content: url(../../assets/cards/Wine.jpg);
}

.detail{
    display: block;
}
.detail_1{
    display: flex;
    justify-content: space-between;
}
.detail_2{
    display: flex;
    justify-content: space-between;
    color: #8f8f8f;

}
.detail_3{
    display: flex;
    justify-content: space-between;
    color: #afaeae;
    margin-top: 10px;
}

.max{
    height: 15px;
    content: url(../../assets/cards/maxsafety.webp);
}
.location{
    display: flex;
    justify-content: space-between;
    color: #afaeae;
    margin-top: 10px;
}
.close{
    margin-top: 2px;
    color: rgb(187, 14, 14);
    border-bottom: 0.1px solid #e9e9e9 ;
}
.cuisine{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.notice{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    
}
.name{
    margin:8px 0 8px 0;
    color: #1c1c1c;
    font-weight: 700;
    font-size: 1.2rem;
    
}


.name h4{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.rating{
    margin:8px 0 8px 0;
    color: #1c1c1c;
    background-color: green;
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding: 2px;
}

.rating h4{
    color: white;
    font-size: 10px;
    padding: 2px;
}




.off{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.discount{
    color: #FFFFFF;
    max-width: fit-content;
    padding: 1px 3px;
    font-size: 13px;
    border-radius: 2px;
    letter-spacing: 1px;
    background-color: rgb(39, 129, 231);
    
}
.time{
    color: #6e6e6e;
    background-color: #eeeaea;
    max-width: fit-content;
    padding: 1px 3px;
    font-size: 15px;
    margin-right: 10px;
    border-radius: 4px;
}
.hoverr{
    position: relative;
    display: flex;
    justify-content: space-between;
    bottom: 2rem;
}
@media screen and (max-width:915px) {
    .Card{
        margin-left: 20px;
        margin-right: 20px;
    }
    .Card:hover{
        max-width: 500px;
        transition: all 0.6s ease;
    }

}