.hero-container{
    position: relative;
    z-index: 100;
    background-color: black;
}
.hero-text{
    position: relative;
    z-index: 200;
}
.hero-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    background-color: black;
}